<% content_for(:whole_page) do %>
  <div class="row">
    <div class="col-md-7 col-xs-12">
      <% unless @exercises.empty? %>
        <h1>Listing Exercises</h1>
        <%= render "shared/user-exercise" %>
        <br>
      <% else %>
        <div class="alert alert-danger message-font text-center"
        role="alert">
          No Workouts Yet
        </div>
        <br>
      <% end %>
      <%= link_to 'New Workout', new_user_exercise_path(current_user),
        class: "btn btn-success link" %>

      <%= content_tag :div, "", id: "chart", data: { workouts: @exercises } %>
    </div>

    <div class="col-md-5 col-xs-12">
      <div id="chat-window col-md-12">
        <header class="text-center">Channel: <%= current_room.name %></header>
        <div class="row">

          <div class="col-md-3" id="followers">
            <% @followers.each do |follower| %>
              <%= link_to follower.user.full_name, user_exercises_path(current_user, roomId: follower.user.room.id), class: "followers" %>
              <br/>
            <% end %>
          </div>
          <div class="col-md-9" id="messages-box">
            <div id="chat-box" data-channel="rooms" data-room-id=<%= current_room.id %>>
              <% @messages.each do |message| %>
                <%= render partial: "shared/message", locals: { message: message }%>
              <% end %>
            </div>

            <div id="form-box">
              <%= form_for @message do |f| %>
                <%= f.text_field :body, id: "message-field", class: "form-control pull-left" %>
                <%= f.submit 'Post', class: "btn btn-outline-secondary", id: "btn-post"%>
              <% end %>
            </div>
        </div>

        </div>

      </div>

      <div class="row">
        <h1 class="text-center card-body">My Friends</h1>
        <% @friends.each do |friend| %>
          <div class="col-md-8 col-sm-7 friend_name">
            <%= link_to friend.full_name, friendship_path(current_user.current_friendship(friend)) %>
          </div>
          <div class="col-md-4 col-sm-5 pull-right">
            <div class="btn-unfollow">
              <%= link_to "Unfollow", friendship_path(current_user.current_friendship(friend)),
                  method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-success link" %>
            </div>
          </div>

        <% end %>
      </div>

    </div>
  </div>
<% end %>
