<div class="container">
  <div class="col-md-7 col-xs-12">
    <% unless @exercises.empty? %>
      <h1>Listing Exercises</h1>
      <%= render "shared/user-exercise" %>
      <br>
    <% else %>
      <div class="alert alert-danger message-font text-center"
      role="alert">
        No Workouts Yet
      </div>
      <br>
    <% end %>
    <%= link_to 'New Workout', new_user_exercise_path(current_user),
      class: "btn btn-success link" %>

  <%= content_tag :div, "", id: "chart", data: { workouts: @exercises } %>
  </div>

  <div class="col-md-5">
    <h1 class="text-center">My Friends</h1>
    <% @friends.each do |friend| %>
      <div class="col-md-6 friend_name">
        <%= link_to friend.full_name, friendship_path(current_user.current_friendship(friend)) %>
      </div>
      <div class="col-md-3">
        <div class="btn-unfollow">
          <%= link_to "Unfollow", friendship_path(current_user.current_friendship(friend)),
              method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-success link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
